# Ignorar cache e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.ipynb_checkpoints

# Ignorar pastas virtuais e ambientes
env/
venv/
.venv/

# Ignorar dados e modelos pesados
*.csv
*.bson
*.json
modelos_treinados/
models/
pdf_graficos/
*.pt
*.h5
*.safetensors

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
